body {
	font-family: 'Arial', sans-serif;
	background-color: #f8f9fa;
}

.container {
	background-color: white;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	max-width: 600px;
}

h2 {
	color: #4a5568;
}

.btn-primary {
	background-color: #4a5568;
	border: none;
}

	.btn-primary:hover,
	.btn-primary:focus {
		background-color: #2d3748;
	}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}
