
@{
    ViewBag.Title = "_FeedbackListPartial";
}

@model IEnumerable<XRayHub.Models.Feedback>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Feedback Giver</th>
            <th>Feedback Date</th>
            <th>Comments</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var feedback in Model)
        {
            <tr>
                <td>@feedback.FeedbackGiver</td>
                <td>@feedback.CreatedAt</td>
                <td>@feedback.Comments</td>
                <td>
                    @for (int i = 0; i < feedback.Rating; i++)
                    {
                        <i class="fas fa-star"></i>
                    }
                </td>
               
            </tr>
        }
    </tbody>
</table>
